<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Vlille with vuejs</title>

    <meta name="description" content="Vlille with vuejs">
    <meta name="author" content="fmachen">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="main.css" media="screen">

    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <main>
        <section>
            <h1>Vlille</h1>
            <input type="search" v-model="filterSearch">
            <input type="checkbox" v-model="filterFavorite">
            <table>
                <caption>{{ filteredStations.length }} stations</caption>
                <tr>
                    <th>favorite</th>
                    <th>id</th>
                    <th>nom</th>
                    <th>etat</th>
                    <th>adresse</th>
                    <th>vélos</th>
                    <th>attaches</th>
                    <th>CB</th>
                    <th>GPS</th>
                </tr>
                <tr is="station" v-for="station in filteredStations" :station="station" v-on:favorite-update="favoriteUpdate"></tr>
            </table>
        </section>
    </main>

    <template id="tpl-station">
        <tr :key="station.id">
            <td v-text="station.isFavorite()" @click="favoriteUpdate(station)"></td>
            <td v-text="station.id"></td>
            <td v-text="station.name"></td>
            <td v-text="station.state"></td>
            <td v-text="station.adress"></td>
            <td v-text="station.nbBikes"></td>
            <td v-text="station.nbSlots"></td>
            <td v-text="station.acceptCb"></td>
            <td>{{ station.gps[0] }} - {{ station.gps[1] }}</td>
        </tr>
    </template>

    <script src="main.js"></script>
</body>

</html>