<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>V'Lille service status</title>

    <meta name="description" content="V'Lille service status">
    <meta name="author" content="fmachen">

    <link rel="manifest" href="manifest.json">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="main.css" media="screen">

    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <main>
        <h1>Vlille</h1>
        <nav>
            <label for="filterSearch">
                <img src="assets/search.png" alt="search" title="filter by id, name or adress" width="48px">
            </label>
            <input type="search" v-model="filterSearch" id="filterSearch" placeholder="filter">
            <input type="checkbox" v-model="filterFavorite" id="filterFavorite">
            <label for="filterFavorite">
                <img src="assets/favorite.png" alt="star" title="filter favorites" width="48px">
            </label>
        </nav>
        <section>
            <table>
                <caption>{{ filteredStations.length }} stations</caption>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>nom</th>
                    <th>etat</th>
                    <th>adresse</th>
                    <th>vélos</th>
                    <th>attaches</th>
                    <th>CB</th>
                    <th>GPS</th>
                </tr>
                <tr is="station" v-for="station in filteredStations" :station="station" v-on:favorite-update="favoriteUpdate"></tr>
            </table>
        </section>
    </main>

    <template id="tpl-station">
        <tr :key="station.id">
            <td @click="favoriteUpdate(station)">
                <img src="assets/favorite.png" alt="star" :title="[station.isFavorite() ? 'favorite' : 'no favorite']" width="24px" :class="[station.isFavorite() ? '' : 'grayscale']">
            </td>
            <td v-text="station.id"></td>
            <td v-text="station.name"></td>
            <td>
                <img src="assets/success.png" alt="station ok" title="station ok" width="24px" v-if="station.state == 'EN SERVICE/CONNECTEE'">
                <img src="assets/repair.png" alt="station repair" title="station repair" width="24px" v-else-if="station.state == 'EN SERVICE/DECONNECTEE'">
                <img src="assets/security.png" alt="station ok" title="station ok" width="24px" v-else>
            </td>
            <td v-text="station.adress"></td>
            <td v-text="station.nbBikes"></td>
            <td v-text="station.nbSlots"></td>
            <td>
                <img src="assets/cb.png" alt="cb" :title="[station.acceptCb ? 'cb' : 'no cb']" width="24px" :class="[station.acceptCb ? '' : 'grayscale']">
            </td>
            <td>{{ station.gps[0] }} - {{ station.gps[1] }}</td>
        </tr>
    </template>

    <script src="main.js"></script>
</body>

</html>